@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fdeddc;
}

.color-overlay {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #0003;
  background-color: #FBD4AB;
  padding: 50px;
}

.login-form-container {
  text-align: center;
  margin-bottom: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  grid-gap: 11px;
  margin-bottom: 5px;
}

.form-group label {
  margin-bottom: 0;
}

.form-inline {
  display: flex;
}

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.photo-label {
  display: inline-block;
  cursor: pointer;
}

.user-icon {
  width: 100px;
  height: 100px;
  margin-right: 8px;
  object-fit: contain; 
}

.photo-input {
  display: none;
}

.lexend {
  font-family: 'Lexend', sans-serif;
  margin-bottom: 4px;
}
